@page "/"
@using KanbanRby.Models
@using KanbanRby.Services.Interfaces
@using KanbanRby.Sessions.Interfaces
@using Supabase.Gotrue
@using Task = Task
@inject ISupabaseService Supabase
@inject IKanbanBoardService KanbanService
@inject IUserSession UserSession
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (_boards == null)
{
    <strong>Loading...</strong>
}
else if (!_boards.Any())
{
    <p>There are no boards made yet!</p>
}
else
{
    <h1>@_selectedBoard?.Name</h1>
    @if (UserSession.CurrentUser != null)
    {
        @if (@UserSession.CurrentUser.UserMetadata.ContainsKey("display_name"))
        {
            <h1>@UserSession.CurrentUser.UserMetadata["display_name"]</h1>
        }
        else
        {
            <h1>@UserSession.CurrentUser.Email</h1>
        }
        
    }
    

    
    <select class="form-select" @bind="SelectedBoardId">
        @foreach (var board in _boards)
        {
            <option value="@board.Id">
                @board.Name
            </option>
        }
    </select>
    

    <div class="columnContainer">
        <div><strong>Column1</strong>
            <div class="card">
                <p>Testcard</p>
                <div class="task">
                    <p>This is a task</p>
                </div>
            </div>
            <div class="card">
                <p>Testcard</p>
            </div>
        </div>
        <div><strong>Column2</strong>
            <div class="card">
                <p>Testcard</p>
            </div>
        </div>
        <div><strong>Column3</strong></div>
        <div><strong>Column4</strong></div>
    </div>
}

@code {
    private List<Kanban> _boards;
    private Kanban? _selectedBoard;
    

    private int _selectedBoardId;

    private int SelectedBoardId
    {
        get => _selectedBoardId;
        set
        {
            if (_selectedBoardId != value)
            {
                _selectedBoardId = value;
                _selectedBoard = _boards.SingleOrDefault(b => b.Id == _selectedBoardId);
            }
        }

    }

    protected override async Task OnInitializedAsync()
    {
        
        _selectedBoardId = 1;
        if (UserSession.CurrentUser != null)
        {
            _boards = await KanbanService.GetUserKanbansAsync(UserSession.CurrentUser.Id);
        }
        else
        {
            _boards = await KanbanService.GetAllAsync();
        }
        
        if (_boards.Any())
        {
            SelectedBoardId = _boards.First().Id;
        }
        UserSession.OnChange += StateHasChanged;
        await UserSession.RefreshUserAsync();
    }

    public void Dispose()
    {
        UserSession.OnChange -= StateHasChanged;
    }
}

