@page "/myKanbans"
@using KanbanRby.Components.Popups
@using KanbanRby.Models
@using KanbanRby.Services.Interfaces
@using KanbanRby.Sessions.Interfaces
@using TaskModel = KanbanRby.Models.Task
@using Task = Task
@inject IKanbanBoardService KanbanService
@inject IColumnManagerService ColumnService
@inject ICardManagementService CardService
@inject ITaskManagementService TaskService
@inject IUserSession UserSession
@rendermode InteractiveServer


@if (_boards == null)
{
    <strong>Loading...</strong>
}
else if (!_boards.Any())
{
    <p>There are no boards made yet!</p>
    <CreateKanban OnCreate="ReloadPage"></CreateKanban>
}
else
{
    <div class="hero-section">
        <div class="hero-content">
            <h1>@_selectedBoard?.Name</h1>
            <div style="margin-top: 1rem;">
                <CreateKanban OnCreate="ReloadPage"></CreateKanban>
                <UpdateKanban KanbanId="@SelectedBoardId" OnUpdated="ReloadPage"></UpdateKanban>
                <DeleteKanban KanbanId="@SelectedBoardId" OnDeleted="ReloadPage"></DeleteKanban>
            </div>
        </div>
    </div>
    
    <select class="form-select" @bind="SelectedBoardId">
        @foreach (var board in _boards)
        {
            <option value="@board.Id">
                @board.Name
            </option>
        }
    </select>
    <CreateColumn BoardId="@SelectedBoardId" OnCreate="ReloadPage"></CreateColumn>
    
    <InviteUserPopUp selectedKanban="@_selectedBoard"/>
    
    <div class="columnContainer">
        @if (_columns.Any())
        {
            @foreach (var column in _columns)
            {
                <div>
                    <div style="display: flex; justify-content: space-between;">
                        <strong>@column.Name</strong>
                        <UpdateColumn ColumnId="column.Id" OnUpdated="ReloadPage"></UpdateColumn>
                        <DeleteColumn ColumnId="column.Id" KanbanId="@SelectedBoardId" OnDeleted="ReloadPage"></DeleteColumn>
                    </div>
                    @if (_columnCards.TryGetValue(column.Id, out var cards))
                    {
                        @foreach (var card in cards)
                        {
                            <div class="card">
                                <div style="display: flex; justify-content: space-between;">
                                    <p style="margin: 0;">@card.Name</p>
                                    <div>
                                        <MoveCardInColumn CardId="card.Id" ColumnId="column.Id" ColumnCards="cards" OnMoved="ReloadPage"></MoveCardInColumn>
                                        <MoveCardBetweenColumns CardId="card.Id" CurrentColumnId="column.Id" BoardId="@SelectedBoardId" OnMoved="ReloadPage"></MoveCardBetweenColumns>
                                        <UpdateCard CardId="card.Id" OnUpdated="ReloadPage"></UpdateCard>
                                        <DeleteCard CardId="card.Id" OnDeleted="ReloadPage"></DeleteCard>
                                    </div>
                                </div>
                                @if (_cardTasks.TryGetValue(card.Id, out var tasks))
                                {
                                    @foreach (var task in tasks)
                                    {
                                        <div class="task">
                                            <div style="display: flex; justify-content: space-between;">
                                                <p style="margin: 0;">@task.Name</p>
                                                <div>
                                                    <UpdateTask TaskId="task.Id" OnUpdated="ReloadPage"></UpdateTask>
                                                    <DeleteTask TaskId="task.Id" OnDeleted="ReloadPage"></DeleteTask>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <CreateTask CardId="card.Id" OnCreate="ReloadPage"></CreateTask>
                            </div>
                        }
                    }
                    <CreateCard ColumnId="column.Id" OnCreate="ReloadPage"></CreateCard>
                </div>
                
            }
        }
        else
        {
            <p>No Columns found</p>
        }
    </div>
}

@code {
    
    private List<Kanban> _boards;
    private List<Column> _columns = new();
    private Dictionary<int ,List<Card>> _columnCards = new();
    private Dictionary<int, List<TaskModel>> _cardTasks = new();
    private Kanban? _selectedBoard;
    private bool IsLoggedIn;


    private int _selectedBoardId;

    private int SelectedBoardId
    {
        get => _selectedBoardId;
        set
        {
            if (_selectedBoardId != value)
            {
                _selectedBoardId = value;
                _selectedBoard = _boards.SingleOrDefault(b => b.Id == _selectedBoardId);
                _ = ReloadPage();
            }
        }

    }
    

    private async Task LoadColumnsFromSelectedBoard()
    {
        if (_selectedBoard != null)
        {
            var columns = await ColumnService.GetColumnsByKanbanIdAsync(_selectedBoard.Id);
            _columns = columns.OrderBy(c => c.Position).ToList();
            _columnCards.Clear();
            _cardTasks.Clear();
            foreach (var column in _columns)
            {
                var cards = await CardService.GetAllCardsByColumnIdAsync(column.Id);
                _columnCards[column.Id] = cards.OrderBy(c => c.RowId).ToList();
                foreach (var card in cards)
                {
                    var tasks = await TaskService.GetTasksByCardId(card.Id);
                    _cardTasks[card.Id] = tasks.OrderBy(t => t.RowId).ToList();
                }
                
            }
        }
    }

    private async Task ReloadPage()
    {
        _boards = await KanbanService.GetUserKanbansAsync(UserSession.CurrentUser.Id);
        await LoadColumnsFromSelectedBoard();
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await UserSession.RefreshUserAsync();
        IsLoggedIn = await UserSession.IsLoggedInAsync();
        _selectedBoardId = 1;
        if (UserSession.CurrentUser != null)
        {
            _boards = new List<Kanban>();
            _boards = await KanbanService.GetUserKanbansAsync(UserSession.CurrentUser.Id);
        }
        else
        {
            _boards = await KanbanService.GetAllAsync();
        }

        if (_boards.Any())
        {
            SelectedBoardId = _boards.First().Id;
            await LoadColumnsFromSelectedBoard();
        }

        UserSession.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserSession.OnChange -= StateHasChanged;
    }
}
